[submodule "lib/core_plugin"]
	path = lib/core_plugin
	url = ../sv_core_plugin
[submodule "lib/modules/google_analytics"]
	path = lib/modules/google_analytics
	url = ../module_sv_tracking_manager_services_google_analytics
[submodule "lib/modules/facebook"]
	path = lib/modules/facebook
	url = ../module_sv_tracking_manager_services_facebook
[submodule "lib/modules/yahoo"]
	path = lib/modules/yahoo
	url = ../module_sv_tracking_manager_services_yahoo
[submodule "lib/modules/hotjar"]
	path = lib/modules/hotjar
	url = ../module_sv_tracking_manager_services_hotjar
[submodule "lib/modules/linkedin"]
	path = lib/modules/linkedin
	url = ../module_sv_tracking_manager_services_linkedin
[submodule "lib/modules/mouseflow"]
	path = lib/modules/mouseflow
	url = ../module_sv_tracking_manager_services_mouseflow
[submodule "lib/modules/custom"]
	path = lib/modules/custom
	url = ../module_sv_tracking_manager_services_custom
[submodule "lib/modules/usercentrics"]
	path = lib/modules/usercentrics
	url = ../module_sv_tracking_manager_services_usercentrics
[submodule "lib/modules/plausible"]
	path = lib/modules/plausible
	url = ../module_sv_tracking_manager_services_plausible
[submodule "lib/modules/google_tag_manager"]
	path = lib/modules/google_tag_manager
	url = ../module_sv_tracking_manager_services_google_tag_manager
